/* splash Screen */
.splash-container {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #40e0d0;
}
.splash-logo {
    width: 20vw;
    height: 20vw;
    min-width: 150px;
    min-height: 150px;
    object-fit: contain;
}
/* onBoarding1 Screen */
.onBoarding-container {
    background-color: #40e0d0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onBoarding-logo {
    width: 6vw;
    height: 6vw;
    min-width: 150px;
    min-height: 150px;
    object-fit: contain;
    margin-bottom: 0px;
}
.onBoarding-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
}
.onBoarding-title1 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.onBoarding-title2 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    max-width: 80%;
}
.onBoarding-next-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #40e0d0;
    border-radius: 8px;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/* Oussama Css Style */


.myContainer {
    width: 100vw;
    height: 100vh;

    /* display:flex; */
    /* align-items:center;
    justify-content:center; */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#f0f4f7;
}
@media screen and (min-width: 400px) {
    .myContainer {
        padding-left: 30%;
        padding-right: 30%;
        width: auto; 
    }
  }
.headerCard{
    /* background-color:blue; */
     background-color:#f5f6f8;
    width: 80%; 
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px 0px rgba(205, 205, 221, 1);
-webkit-box-shadow: 5px 5px 50px 0px rgba(205, 205, 221, 1);
-moz-box-shadow: 5px 5px 50px 0px rgba(205, 205, 221, 1);
}
.headerCardH1{
    color: #384062;
    font-size: 30px;
    font-weight: "bold";
    margin-left: 10px;
    margin: 0px;
    line-height: 29px;
}
.headerScrollView::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.headerScrollView{
    /* scrollbar-width: 0; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    flex-direction:row;
    width: 80%;
    /* margin: 0 auto; */
    margin-top: 30px;
    flex-wrap:wrap;
    overflow: auto;
    white-space: nowrap;
    height: 50px;
}


.buttonHeader{
    /* background-color: white; */
    width: 45px;
    height: 45px;
    margin: 0 10px;
    border-radius: 50px;
    padding: 10px;
}

.imgStyle{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  Doctors list styling */

.doctorCard{
    border-radius: 25px;
    background-color:#f5f6f8;
    padding: 20px;
    margin: 10px;
    /* flex-direction:'column';
    display: flex; */
}

.doctorCardTop{
    flex-direction:'row';
    display: flex;
}

.doctorCardLeft{
    width: 70%;
}
.doctorInfo{}
.doctorInfo h2,.doctorInfo h5{

}
.doctorInfo h2{
    font-weight: bold;
}
.doctorInfo h5{
    font-weight:400 ;
    color: #384062;
}
.doctorName{
    color: #384062;
    font-size: 16px;
    font-weight: "bold";
    margin-left: 10px;
    margin: 0px;
    line-height: 20px;

}
.doctorLocation{}
.doctorSpeciality{}
.doctorImgContainer{
    width: 30%;
}
.doctorImgStyle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index:  1;
}
.doctorCardBottom{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.doctorCardBottom .doctorExperience p{
    color: #f9c37e;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.doctorCardBottom button{
    background-color: #f7f9f8;
    border-radius: 8px;
    padding: 10px 20px;
    border: 0;
    font-weight: bold;
}

.looadMore{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.looadMore button{
    background-color: #40e0d0;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 8px 15px 8px 15px;
}

/* Doctor Profile Styling */
.feeBox{
    background-color: #fff;
    width: 45%;
    height: 100px;
    margin: 0 20;
    border-radius: 10%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.aboutDoctor{
    border-radius: 25px;
    background-color:#f5f6f8;
    padding: 20px;
    margin: 10px;
    line-height: 28px;
}
.aboutDoctor p{
    color:#6E8FA3
}

.feeTitle{
    display: block;
}
.shadow1 {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.homeTitle
{
    text-align: center;
    margin-bottom: 70px;
}
.homeTitle span{
text-decoration: underline;
text-decoration-color: #29ddc6;
}
.firstBlocWrapper{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

}
/* .firstBlocWrapper a{
    width: inherit;
} */
.homeComponent{
    width:48%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    text-decoration: none;
}
/* img */
.bgImgHome1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.bgImgHome2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}
/* img */
.homeComponentContent{
    background: white;
    z-index: 2;
    position: relative;
    color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 4px 0;
    padding-left: 12px;
    width: 100%;
    opacity: 0.8;
}
.homeComponentContent h3
{
    margin: 0;
    font-size: 16px;
}

.homeComponentContent p
{
    margin: 0;
    font-size: 12px;
}


.absImg{
    position: absolute;
    left: 0;
    right: 0;
    height: 159px;
    width:109px;
    border-radius: 20px;
    object-fit: contain;

}

.secondBlocWrapper{
/* text-align: center; */
}
.secondBlocWrapper{

}

.secondBlocSubWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secBlocElement{
    width: 120px;
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
}
/* .marRight3Percent{
    margin-right: 3.33333%;
} */
.secImg{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.thirdBlocWrapper{
    margin-bottom: 20px;

}
.thirdBlocWrapper h2{
 

}
.thirdBlocSubWrapper
{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.thirdBlocElement
{
    width: 150px;
    margin: 10px;
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    border-radius: 20px;
    cursor: pointer;
}

.thirdBlocElement .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirdImg{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.thirdBlocElement .content h4{
    margin: 0;
    font-weight: 600;
    margin-top: 10px;
}


.fourthBlocWrapper{
    /* overflow: scroll; */
    margin-bottom: 30px;

}
.fourthBlocWrapper h2{
 

}
.fourthBlocSubWrapper
{
    display: flex;
    /* overflow: scroll; */
    overflow-y: hidden;
    overflow-x: scroll;
}
.fourthBlocElement
{
    width: 170px;
    margin: 10px;
    /* height: 170px; */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    border-radius: 20px;
    padding: 25px 0;
    cursor: pointer;
}

.fourthBlocElement .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourthImg{
    width: 90px;
    height: 90px;
    border-radius: 25px;
}

.fourthBlocElement .content h4{
    margin: 0;
    font-weight: 700;
    margin-top: 10px;
    font-size: 16px;
}
.fourthBlocElement .content p{   
     margin: 0;
    font-size: 14px;
    margin-top: 5px;
}

.greenBtn{
    background-color: #44dbc8;
    border: none;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}
.lastBloc .content{
    background: #fff;
    padding: 12px 40px;
    border-radius: 15px;
}
.lastBloc .content p{
    font-size: 16px;
}

.lastBloc{
    margin-bottom: 550px !important;
}


.topHosBlocElement
{
    width: 45%;
    margin: 10px 2.5%;
    height: 250px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    border-radius: 20px;
}

.topHosBlocElement .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topHosBlocElement .content h4{
    margin: 0;
    font-weight: 600;
    margin-top: 10px;
    max-width: 95%;
    text-align: center;
    margin-bottom: 5px;
}
.topHosBlocElement .content p{   
    margin: 0;
    font-size: 14px;
    max-width: 90%;
    text-align: center;
}

.blocsWrapper{
    display: flex;
    flex-wrap: wrap;
}


.topHosBlocElement img{
    width: 165px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
}



.greenBtn .iconImg{
    object-fit: contain;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.greenBtn p{
    margin: 0 8px;
    font-size: 18px;
}

.greenBtn .arraowImg{
    object-fit: cover;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}


.shadowHome{
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
}
.mg80{
    margin-bottom: 80px;
}

@media only screen and (max-width: 480px) {
.topHosBlocElement
{
    width: 45%;
    margin: 10px 2.5%;
    height: 220px;
}
.topHosBlocElement .content h4{
    margin: 0;
    font-weight: 600;
    max-width: 95%;
    font-size: 14px !important;
    margin-bottom: 10px;
}
.topHosBlocElement .content p{   
    font-size: 12px !important;
}
.topHosBlocElement img{
    width: 120px;
    height: 80px;
}
.onBoarding-logo{
    background-position: left;
}
}
